<nav class="navbar navbar-light bg">
  <a class="navbar-brand" href="/applications" style="font-family: fantasy">Job Applications Tracker</a>
  <% if (currentUser) { %>
  <ul class="nav justify-content-end">
    <li class="nav-item active">
        <a class="nav-link" href="/applications">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/applications/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/applications/new">New Job App</a>
    </li>
    <li>
      <form action="/sessions?_method=DELETE" method="post">
        <input class="btn btn-primary" type="submit" value="Log Out">
      </form>
    </li>

  </ul>
<% } %>
</nav>
