<%- include ('../partials/head.ejs') %>
  <body>
    <%- include ('../partials/nav.ejs') %>
<div class="container" id="about">


  <h2 style="text-decoration:underline">About Application Tracker</h2>
  <p>Never lose track of jobs that you applied for. <br>Sign up and Log in to get started!!</p>
  <p>Create a New Job Application now: <a href="/applications/new">Create</a></p>
  </div>
  </body>
</html>
