<%- include ('../partials/head.ejs') %>
  <body>
    <%- include ('../partials/nav.ejs') %>

  <h2>About Application Tracker</h2>
  <p>Never lose track of jobs that you applied for. <br>Sign up and Log in to get started!!</p>
  </body>
</html>
