<%- include ('../partials/head.ejs') %>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Applications Tracker</h1>
      <p class="lead">Welcome to a personalized Applications Tracker. Never forget what you applied for!</p>
      <a class="btn btn-primary" id="sign-btn" role="button" href="/users/new">Sign Up</a> <em>or</em>
      <a class="btn btn-primary" id="signin-btn" href="/sessions/new">Sign In</a>
    </div>
    <a href="www.google.com">click</a>
  </body>
</html>
