  <%- include ('../partials/head.ejs') %>
  <body>
    <%- include ('../partials/nav.ejs') %>
  <div class="apps">
    <% for (let i=0;i<applications.length;i++) { %>
        <div class="app-circle">
            <button class="app-button"><a class="app-link" href="/applications/<%=applications[i].id%>"><%=applications[i].companyName%></a></button>
        </div>


    <% } %>
  </div>
  </body>
</html>
