<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new job application!</h1>
    <form action="/applications" method="POST">
      <input type="text" name="companyName" placeholder="Company Name" /><br>
      <input type="text" name="jobTitle" placeholder="Job Title"/><br>
      <input type="text" name="location" placeholder="Location"/><br>
      <input type="text" name="jobLink" placeholder="<Job Link>"/><br>
      <input type="number" name="desired" placeholder="Rank (0-5)"/><br>
      <input type="date" name="date" placeholder="Date Applied"/><br>
      <input type="submit" value="Create Job App">
    </form>
  </body>
</html>
