<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The company is <%=application.companyName%></h1>
    <br>
    <button type="button" name="button"><a href="/applications/<%=application.id%>/edit">Edit</a></button>
  </body>
</html>
